Repository rickyxyz/ride-ride: changes, and which lefthook commands are due for each by the changed paths.
All: lint:misc, lint:css, lint:js

lint:misc:
  priority: 3
  tag: lint
  run: npx prettier --write {staged_files}

lint:css:
  priority: 2
  tag: lint
  run: npx prettier --write {staged_files}

lint:js:
  priority: 1
  tag: lint
  run: npm run lint --fix {staged_files}

meta: update README
  README.md
Due: none

feat: add useTour useBike translation hook
  src/components/CardTour.tsx
  src/components/CarouselBike.tsx
  src/components/common/OrderSummary.tsx
  src/components/useBikes.tsx
  src/components/useTours.tsx
  src/constants/Tours.ts
  src/locales/id/common.json
  src/pages/Bikes.tsx
  src/pages/BookBike.tsx
  src/pages/BookTour.tsx
  src/pages/Tours.tsx
Due: lint:misc, lint:js

feat: add details to bike order
  src/components/common/OrderSummary.tsx
  src/pages/BookBike.tsx
Due: lint:js

feat: add metadata
  index.html
  package.json
  public/logo.svg
  src/components/Footer.tsx
  src/components/Header.tsx
Due: lint:misc, lint:js

feat: add firebase to checkout
  package-lock.json
  package.json
  src/components/common/OrderSummary.tsx
  src/components/useFirebase.tsx
  src/main.tsx
  src/pages/Checkout.tsx
  src/pages/Summary.tsx
  src/vite-env.d.ts
Due: lint:misc, lint:js

feat: bike data from db
  src/components/CarouselBike.tsx
  src/components/common/OrderSummary.tsx
  src/components/useBikes.tsx
  src/components/useFirebase.tsx
  src/pages/Bikes.tsx
  src/pages/BookBike.tsx
  src/pages/Summary.tsx
Due: lint:js

feat: fetch tour from db
  src/components/common/OrderSummary.tsx
  src/components/useFirebase.tsx
  src/components/useTours.tsx
  src/pages/BookTour.tsx
  src/pages/Tours.tsx
Due: lint:js

fix: checkout not redirecting
  src/components/common/OrderSummary.tsx
  src/pages/Checkout.tsx
Due: lint:js

feat: update README.md
  README.md
Due: none

Path conditions:
  lint:misc: any of: *.{html,json,yml,yaml}
  lint:css: any of: *.{css}
  lint:js: any of: *.{js,ts,jsx,tsx}
